h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.img-circle {
  width: 110px;
  border-radius: 50%;
  height: 100px
}

.container {
  width: 700px;
  margin: 40px auto;
}

#intro p {
  margin-bottom: 40px;
}

.card-white {
  background: white;
  padding: 40px;
  text-align: center;
  margin: 20px 0px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 40px;
}

a:hover {
  color: #303352;
}

a.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-blue:hover {
  background-color: black;
  color: white;
}

h2 {
  color: #3c3e4798;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 80%;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 80%;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 80%;
  }
}
